*{
    margin: unset;
}

.caja1{
   
    position: relative;
}

#fotocaja1{
    height: 401px;
    width: 100%;
}

.barra{
    overflow: auto;
    position: absolute;
    font-size: 21px;
    top: 6%;
    left: 75%;
}
 
.estilo1{
    color: aliceblue;
    text-decoration:none;

}
.estilo1 a:hover{
    color: rgb(136, 240, 95);
}
#logo{
    position: absolute;
    top: 5%;
    left: 4%;
}
/* --------------------------- MEDIO 1 -------------------- */
.tex1{
    position: absolute;
    top: 65%;
    color: white;
    left: 3%;
}

.medio1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: -22px;
    padding-top: 67px;
}

#texto{
    position: absolute;
    top: 65%;
    color: black;
    left: 41%;
    }

.abajo{
    justify-content: center;
    
}
.icono{
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: center;
    /* text-orientation: inherit; */
    text-align: center;
    width: 298px;
}
 /* -------------------- CAJA DE VENTA -------------- */

 #texto2{
    position: absolute;
    top: 106%;
    color: black;
    left: 40%;
    }

.venta{
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: -22px;
        padding-top: 67px;
    }

 .cajaventa{
    text-align: left;
    border: 1px;
    border-style: solid;
    border-color: grey;
    width: 318px;
 }

